* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  background-image: url(../images/dark-back.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

table th {
  color: white !important;
}

td  {
  color: white !important;
}